#ignore files in threads folder
threads/
.vscode/
build/

# Ignore specific executable files
sinserver
sinclient
exClient
mulserve
mulserver

# Ignore all .html files
*.html
*.ico
*.png

# Ignore common executable file names
a.out
*.out
*.bin
*.run
