#ignore files in threads folder
threads/

# Ignore specific executable files
sinclient
exClient
mulserve
mulserver

# Ignore all .html files
*.html

# Ignore common executable file names
a.out
*.out
*.bin
*.run
